body{
    background-image: url(l.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    margin-right: 200px;
    background-size: cover;
     background-attachment: fixed;
}